:root{
  --md-sys-color-primary:#6750a4;
  --md-sys-color-on-primary:#ffffff;

  --md-sys-color-surface:#fffbff;
  --md-sys-color-on-surface:#1c1b1f;

  --md-sys-color-surface-container:#f3edf7;
  --md-sys-color-surface-container-high:#ece6f0;

  --md-sys-color-outline:#79747e;

  --radius:16px;
  --nav-width:96px;
  --content-max:980px;

  font-family: system-ui,-apple-system,Segoe UI,Roboto,Arial,sans-serif;
}

body{
  margin:0;
  background:var(--md-sys-color-surface);
  color:var(--md-sys-color-on-surface);
}

.material-symbols-outlined{
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
  font-size:24px;
  line-height:1;
}
